

*  {
  text-align: center;
  color: white;
}

h5 {
  text-align: left;
}

p {
  text-align: left;
}

.izquierda img {
  height: 180px;
}

.fondon {
  background: black;
}

.h-divider {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px blue;
  padding: 2rem;
}



.logo img {
    height: 40px;
  }